/* src/components/Header.module.css */
.header {
  background-color: #fff;
  color: #111;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Optional: Limit the width of the header */
  padding: 0 1rem; /* Optional: Add some padding to the sides */
}

.leftMenu, .rightMenu {
  display: flex;
  gap: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.logoContainer {
  position: relative;
  width: 150px;
  height: 100px;
}

.navLink {
  color: #111;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}
